
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Ww]eb*.config
![Ww]eb.example.config
!*/Views/web.config
[Aa]pp*.config
!ApplicationInsights.config
*.scc
[Ss]cripts*/
packages/
closuresrss.xslt
*/App_Data
EastSussexGovUK
.vs
*/Views/Shared/ServiceClosures