/* Wherever a list of service closures appears, display it as a bulleted list. */
ol.closureList {
  list-style-type: none;
  margin: 0; }

ol.closureList li {
  border-bottom: 1px solid #555;
  padding: .5625em 0; }

ol.closureList li:first-child {
  padding-top: 0; }

ol.closureList li:last-child {
  border-bottom: none;
  padding-bottom: 0; }

ol.closureList .location {
  font-weight: bold; }

ol.closureList p {
  margin: 0; }
